"<html>\n 
   <head>\n     
      <title>My First View!!</title>\n    
      </head>\n   
       <body>\n      
         <h1>Hel...code is inside of a '.erb' file in the views directory, where it belongs.</p>\n   
         <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
         </body>\n
         </html>" 